body {
  background-color: #282C34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.colorRed {
color: red;
}
.colorBlue {
color: rgb(72, 0, 255);
}


.loader {
  animation: loader-spin infinite 20s linear;
}


@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}